extends layout

block content
	.container.aluminium-space
		h1.text-center.pretty-text JustTranslate
		.row
			.col-md-5
				select#translate-area-lang.form-control.buffer
					each key, item in data.langs
						if key == "English"
							option(value=item, selected="selected")= key
						else
							option(value=item)= key
				textarea(class='form-control', rows=7, autofocus=true, id="translate-area")
			.opposite-icon.col-md-2
			.col-md-5
				select#translate-result-lang.form-control.buffer
					each key, item in data.langs
						if key == "Ukrainian"
							option(value=item, selected="selected")= key
						else
							option(value=item)= key
				textarea(class='form-control', rows=7, autofocus=true, readonly=true, id="translate-result")
					
				.translate-icon-container
					.translate-icon Translate
						include svg
