extends layout

block content
	.container
		h1.text-center.pretty-text JustTranslate
		.row
			.col-md-5
				select.form-control.buffer
					each item in langs
						if item == "English"
							option(selected="selected")= item
						else
							option= item
				textarea(class='form-control', rows=7, autofocus=true)
			.opposite-icon.col-md-2
			.col-md-5
				select.form-control.buffer
					each item in langs
						if item == "Ukrainian"
							option(selected="selected")= item
						else
							option= item
				textarea(class='form-control', rows=7, autofocus=true, readonly=true)
			.translate-icon-container
				.translate-icon Translate
					include svg
